### nan 처리

In [1]:
import pandas as pd
import numpy as np

1번

In [10]:
# 도시별 기온 데이터
data = np.array([[20,25,15],[18,22,19],[25,27,23]])
df = pd.DataFrame(data , index=['서울','부산','대구'], columns=['봄','여름','겨울'])
df

# 1. 서울의 여름 기온 빈값으로 변경
df.loc['서울','여름']=np.nan
print(df)
# 2. 빈값이 포함된 행을 삭제
df = df.dropna(axis=0)
print(df)
# 3. 부산의 봄 기온 빈값으로 변경
df.loc['부산','봄']=np.nan
print(df)
# 4. 모든 빈값을 0으로 채우세요
df=df.fillna(0)
print(df)

     봄    여름  겨울
서울  20   NaN  15
부산  18  22.0  19
대구  25  27.0  23
     봄    여름  겨울
부산  18  22.0  19
대구  25  27.0  23
       봄    여름  겨울
부산   NaN  22.0  19
대구  25.0  27.0  23
       봄    여름  겨울
부산   0.0  22.0  19
대구  25.0  27.0  23

2번

In [18]:
# 학급별 점수 데이터
data = np.array([[80,75,90],[85,88,82],[70,65,78]])
df = pd.DataFrame(data,
                  index=['국어','영어','수학'],
                  columns=['1반','2반','3반'])
df

# 1. 2반영어점수를 빈값으로 변경
df.loc['영어','2반'] = np.nan
print(df)
# 2. 빈값이 포함된 열 삭제
df= df.dropna(axis=1)
print(df)
# 3. 3반수학점수를 빈값으로 변경
df.loc['수학','3반'] = np.nan
print(df)
# 4. 모든 빈값을 100으로 채우세요
df = df.fillna(100)
print(df)

    1반    2반  3반
국어  80  75.0  90
영어  85   NaN  82
수학  70  65.0  78
    1반  3반
국어  80  90
영어  85  82
수학  70  78
    1반    3반
국어  80  90.0
영어  85  82.0
수학  70   NaN
    1반     3반
국어  80   90.0
영어  85   82.0
수학  70  100.0