(1번)
숫자 데이터를 시리즈로 만들어주세요  
값은 [5,10,15,20] 이고, 인덱스는 자동으로 생성

In [9]:
import pandas as pd

In [13]:
s = pd.Series([5,10,15,20])
# pd.Series(값 목록, [인덱스])
print(s)
# 시리즈 생성시 인덱스를 따로 설정하지 않으면
# 자동으로 생성된다

0     5
1    10
2    15
3    20
dtype: int64

숫자 데이터를 시리즈로 만들어주세요  
값은 [2,4,6,8] 이고, 인덱스는 자동으로 생성

In [11]:
s = pd.Series([2,4,6,8])
print(s)

0    2
1    4
2    6
3    8
dtype: int64

(2번)  
성적 데이터를 시리즈로 만들어주세요  
값은 점수 [70,80,90] 이고, 인덱스는 과목 ['국어', '영어', '수학'] 입니다.

In [19]:
s = pd.Series([70,80,90], index=['국어','영어','수학'])
s

국어    70
영어    80
수학    90
dtype: int64

In [20]:
# 1. 국어점수 조회(70)
print(s.loc['국어'])
s.iloc[0]
# 2. 수학점수 75로 수정
s['수학'] = 75
print(s)

70
국어    70
영어    80
수학    75
dtype: int64

(3번)  
계절별 평균 기온 데이터를 시리즈  
값은 기온 [15,27,18] 이고, 인덱스는 계절 ['봄','여름','가을'] 입니다.

In [26]:
s = pd.Series([15,27,18], index=['봄','여름','가을'])
s

봄     15
여름    27
가을    18
dtype: int64

In [28]:
# 1.봄기온 조회(15)
s.loc['봄']

# 2.가을 기온20으로 수정
s.loc['가을']=20
s

봄     15
여름    27
가을    20
dtype: int64

(4번)  
일변 매출 데이터를 시리즈  
값은 매출 [1000,1200,1300] 이고, 인덱스는 날짜 ['01-01','01-02','01-03'] 입니다.

In [29]:
s = pd.Series([1000,1200,1300], index=['01-01','01-02','01-03'])
s

01-01    1000
01-02    1200
01-03    1300
dtype: int64

In [31]:
# 1월1일 매출 조회
s.loc['01-01']
# 1월2일 매출 1250으로 수정
s.loc['01-02'] = 1250
s

01-01    1000
01-02    1250
01-03    1300
dtype: int64

(5번)  
요일변 매출 데이터를 시리즈  
값은 매출 [300,400,500] 이고, 인덱스는 요일 ['월','화','수'] 입니다

In [33]:
s = pd.Series([300,400,500], index=['월','화','수'])
s

월    300
화    400
수    500
dtype: int64

In [36]:
# 1. 화욜 매출 조회(400)
s.loc['화']
# 2. 수욜 매출 550으로 수정
s['수'] = 550
s

월    300
화    400
수    550
dtype: int64

### 시리즈의 계산과 조건검색

### 1번

In [47]:
s = pd.Series([80,90,75,85], index=['국어','영어','수학','과학'])
s

# 1. 총점
print('합계:',s.sum())
# 2. 평균점수
print('평균:',s.mean())
# 3. 가장 높은점수
print('최고 점수:',s.max())
# 4. 가장 낮은점수
print('최저 점수:',s.min())

합계: 330
평균: 82.5
최고 점수: 90
최저 점수: 75

### 2번

In [49]:
s = pd.Series([2,5,-1,0,7,-3,4], index=['월','화','수','목','금','토','일'])
s

월    2
화    5
수   -1
목    0
금    7
토   -3
일    4
dtype: int64

In [52]:
# 조건검색(영상)
# 시리즈>=int => 시리즈 전체데이터에 비교식이 적용됨 => bool 배열반환
s>=0
# 시리즈에 bool배열을 인덱스로 사용
s[s>=0]

월    2
화    5
목    0
금    7
일    4
dtype: int64