## 3. 넘파이
넘파이란? 다차원배열과 수학함수를 제공하는 모듈(라이브러리)   
모듈이란? 필요한 기능을 미리 만들어두고 가져다 쓰는 것

3.1 ndarry  
다차원 배열  
다차원 배열의 특징:   
1.리스트와 비교했을때 계산 속도가 빠름.  
2.리스트와 달리 모든 요소의 타입이 같음.

In [6]:
# 먼저 numpy 모듈 가져오기
# 외부에 있는 모듈 파일을 가지고 올때는 import
# 모듈의 이름이 길때는 별칭 붙이기 as np
import numpy as np

In [7]:
# 넘파이 배열 만들기
# 입력값: 리스트
# 결과: 넘파이 배열
a = np.array([1,2,3])
a
b = np.array(['a','b','c'])
b

array(['a', 'b', 'c'], dtype='<U1')

2차원 배열

In [15]:
# 2차원 배열 생성
# 2차원 배열은 1차원 배열의 묶음
c = np.array([[1,2,3],[4,5,6]])
c
# 3행 3열 크기의 2차원 배열 todtjd
d = np.array([[1,2,3],[4,5,6],[7,8,9]])
d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [24]:
# 주석 단축키 : cmd + /
# arrange : 숫자 여러개를 생성하는 함수
# 연속된 숫자 10개를 생성
# 개수만 넣으면 0부터 시작됨
a = np.arange(10)
# 1부터 10까지 생성
# 범위(시작,끝)
b = np.arange(1,11)
# 1부터 10까지 2씩 건너뛰면서 생성
c = np.arange(1,11,2)
c

array([1, 3, 5, 7, 9])

## 연습문제

In [25]:
# 파이썬 리스트 scores=[85,90,78,92,88]를 넘파이 배열로 변환하여 출력하세요
scores=[85,90,78,92,88]
n1 = np.array(scores)
n1

array([85, 90, 78, 92, 88])

In [28]:
# 리스트 heights=[160,165,170,175,180]를 넘파이 배열로 변환하여 출력
heights=[160,165,170,175,180]
n2 = np.array(heights)
n2

array([160, 165, 170, 175, 180])

In [30]:
# 리스트 prices=[1200,1500,1800,2100]를 넘파이 배열로 변환하여 출력
prices=[1200,1500,1800,2100]
n3 = np.array(prices)
n3

array([1200, 1500, 1800, 2100])

In [31]:
# 리스트 temps=[20,22,19,25,30]를 넘파이 배열로 변환하여 출력
temps=[20,22,19,25,30]
n4 = np.array(temps)
n4

array([20, 22, 19, 25, 30])

In [ ]:
# arange는 파이썬의 range 함수와 비슷
# arange(숫자) -> 갯수
# arnage(시작,끝) -> 범위

In [38]:
# 0부터 4까지 숫자를 원소로 가지는 배열 생성
num1 = np.arange(5)
num1

array([0, 1, 2, 3, 4])

In [39]:
# 0부터 9까지 숫자를 원소로 가지는 배열 생성
num2 = np.arange(10)
num2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
# 3부터 7까지 숫자를 원소로 가지는 배열 생성
num3 = np.arange(3,8)
num3

array([3, 4, 5, 6, 7])

In [41]:
num4 = np.arange(-2,3)
num4

array([-2, -1,  0,  1,  2])

## 실습
zeros,dtype,ndim,shape,astype,값 꺼내기,슬라이스

In [45]:
# zeros : 배열을 생성하고 값을 0으로 초기화
# 10개 크기의 배열 생성
np.zeros(10)
# 2차원 배열 생성
np.zeros((3,3)) # 행 열

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [46]:
# 3개 크기의 1차원 정수 배열 생성
# 파이썬의 리스트와 달리 넘파이 배열은 모든 원소의 자료형이 같다
a = np.array([1,2,3])
# 배열의 정보를 확인
print(a.dtype) # 자료형
print(a.ndim)  # 배열의 차원
print(a.shape) # 행열 크기

int64
1
(3,)

In [48]:
# 2행 3열의 2차원 배열 생성
b = np.array([[1,2,3],[4,5,6]])
print(b.dtype)
print(b.ndim)
print(b.shape)

int64
2
(2, 3)

In [54]:
# 실수형 1차원 배열 생성
arr = np.array([1.1,2.1,3.1])
# 자료형 확인
arr.dtype
# 배열의 형변환
arr2 = arr.astype(np.int32)
arr2.dtype

dtype('int32')

In [55]:
# 파이썬의 리스트 생성
lis = [1,2,3]
# 파이썬의 각 원소에 3씩 더하기
# 리스트의 원소에 하나씩 계산하려면 for 반복문을 사용해야 한다..
for i in lis:
    print(i+3)

4
5
6

In [57]:
# 넘파이 배열 생성
# 넘파이 배열은 for문 없이 각 원소에 값을 계산할 수 있다!
# 넘파이 배열을 자동으로 각 원소에 반복 수행이 된다
a = np.array([1,2,3])
# 각 원소에 3씩 더하기
a+3

array([4, 5, 6])

In [58]:
a = np.array([1,2,3])
b = np.array([4,5,6])

# 배열 두개를 비교
a>b

array([False, False, False])

인덱스와 슬라이스

In [69]:
# 0~9 숫자 만들고 1차원 배열 생성
a = np.arange(10)
print(a)
# 배열의 원소 하나 꺼내기
a[1]
# 범위로 값 꺼내기(슬라이스)
a[3:6]
# 원소 값 변경하기
# 두번째 원소의 값 변경하기
a[1] = 99
a
# 특정 범위에 있는 값을 모두 변경하기
# 3,4,5 번째 데이터 변경
a[3:6] = 88
a

[0 1 2 3 4 5 6 7 8 9]

array([ 0, 99,  2, 88, 88, 88,  6,  7,  8,  9])

In [70]:
# 슬라이스로 배열 전체를 선택하고 값 변경
a[:] = 999
a

array([999, 999, 999, 999, 999, 999, 999, 999, 999, 999])

## 연습문제1

In [71]:
arr = np.array([10,20,30,40,50])

In [74]:
# 배열의 첫 번째 값 꺼내서 출력
print(arr[0])
# 배열의 세 번째 값 꺼내서 출력
print(arr[2])
# 배열의 마지막 값 꺼내서 출력
print(arr[4])

10
30
50

In [75]:
# 배열의 두 번재 값을 200으로 바꾸세요
arr[1] = 200
arr

array([ 10, 200,  30,  40,  50])

In [77]:
# 배열의 네 번째 값을 999로 바꾸세요
arr[3] = 999
arr

array([ 10, 200,  30, 999,  50])

## 연습문제2

In [78]:
arr = np.array(["가","나","다","라","마"])

In [83]:
# 배열의 두 번째 값을 꺼내서 출력
print(arr[1])
# 배열의 네 번째 값을 꺼내서 출력
print(arr[3])
# 배열의 마지막 값을 꺼내서 출력
print(arr[-1])

나
라
마

In [81]:
# 배열의 첫 번째 값을 '하'로 바꾸세요
arr[0] = '하'
arr

array(['하', '나', '다', '라', '마'], dtype='<U1')

In [82]:
# 배열의 세 번째 값을 '호'로 바꾸세요
arr[2] = '호'
arr

array(['하', '나', '호', '라', '마'], dtype='<U1')

## 연습문제3

In [84]:
arr = np.array([10,20,30,40,50,60,70])

In [89]:
# 배열의 처음 3개 값을 꺼내서 출력
arr[0:3]

array([10, 20, 30])

In [90]:
# 배열의 네 번째로부터 끝가지 값을 꺼내서 출력
arr[3:]

array([40, 50, 60, 70])

In [91]:
# 배열의 두번째부터 다섯번째까지 값 꺼내서 출력
arr[1:5]

array([20, 30, 40, 50])

## 연습문제4

In [94]:
arr = np.array(["a","b","c","d","e","f","g"])

# 배열의 처음 3개 값을 꺼내서 출력
print(arr[:3])

# 배열의 네 번째부터 끝까지 값
print(arr[3:])

# 배열의 두 번째로부터 다섯 번째까지 값
print(arr[1:5])

['a' 'b' 'c']
['d' 'e' 'f' 'g']
['b' 'c' 'd' 'e']

## 실습

2차원 배열의 인덱싱

In [95]:
# 3행 3열 2차원 배열 생성
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [104]:
# 2차원 배열의 인덱스
# 행(인덱스)
# 열(컬럼)
# 첫번째 행 꺼내기
arr[0]

array([1, 2, 3])

In [108]:
# 1 꺼내기
arr[0][0]
# 9 꺼내기
arr[2][2]
# 5 꺼내기
arr[1][1]
arr[1,1]

np.int64(5)

In [109]:
# 배열 원소의 값 바꾸기
# 0->1
arr[0][0] = 0
arr
# 5 -> 0
arr[1,1] = 0
arr

array([[0, 2, 3],
       [4, 0, 6],
       [7, 8, 9]])

2차원 배열 슬라이스

In [112]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [113]:
# 열을 기준으로 슬라이스
arr[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [122]:
arr[:2][0]

array([1, 2, 3])

In [121]:
# arr[1:3][1:3] -> X
arr[1:3,1:3]

array([[5, 6],
       [8, 9]])

In [125]:
# 행 : 0번 1번
# 열 : 0번 1번
arr[:2, :2]

array([[1, 2],
       [4, 5]])

In [126]:
# 행 : 1번 행만 선택
# 열: 0 1 번
arr[1,0:2]

array([4, 5])

## 연습문제

In [156]:
arr = np.array([[10,20,30],
        [40,50,60],
        [70,80,90]])

# 첫 번째 행의 두번째 값을 꺼내서 출력
print(arr[0][1])
# 세 번째 행의 첫번째 값을 꺼내서 출력
print(arr[2][0])
# 두 번째 행 전체를 꺼내서 출력
print(arr[1])
# 두번째 열 전체
print(arr[:,1])
# 첫번째 행의 세번째 값 300
arr[1][2] = 300
print(arr)

20
70
[40 50 60]
[20 50 80]
[[ 10  20  30]
 [ 40  50 300]
 [ 70  80  90]]

## 연습문제2

In [162]:
arr = np.array([[1,2,3,4],
                [5,6,7,8],
                [9,10,11,12],
                [13,14,15,16]])
# 두번째 행의 세번째 값을 꺼내서 출력
print(arr[1][2])
# 네번째 행의 첫번째 값 꺼내서 출력
print(arr[3][0])
# 세번째 행 전체를 꺼내서 출력
print(arr[2])
# 네번째 열 전체를 꺼내서 출력
print(arr[:,3])

# 첫번째 행의 네번째 값 100으로 변경
arr[0][3] = 100
print(arr)

7
13
[ 9 10 11 12]
[ 4  8 12 16]
[[  1   2   3 100]
 [  5   6   7   8]
 [  9  10  11  12]
 [ 13  14  15  16]]

## 연습문제3

In [167]:
arr = np.array([[10,20,30],
                [40,50,60],
                [70,80,90]])
# 첫번째 행의 앞 2개 숫자를 꺼내서 출력
print(arr[0][:2])
# 두번째 행부터 세번째 행까지 전체를 꺼내서 출력
print(arr[1:3])
# 모든 행에서 두번째와 세번째 열만 꺼내서 출력
print(arr[:,1:3])

[10 20]
[[40 50 60]
 [70 80 90]]
[[20 30]
 [50 60]
 [80 90]]

## 실습
불리언 인덱스  
인덱스란? 데이터의 위치

In [180]:
# 학생 배열 생성
students = np.array(['철수','영희','민수','철수','철수'])
# 학생들의 대출 이력(책제목, 대출일)
books = np.array([ ['수학의 정석', 7], ['해리포터',10], ['파이썬 입문',5], ['한국사',5], ['데미안',12] ])

In [181]:
# 여기서 철수의 대출 이력만 조회하기
# 배열 == '비교값'
# 배열 전체에 철수를 비교
# 총 5번 비교하고 bool 배열 반환
arr = (students == '철수')
arr

array([ True, False, False,  True,  True])

In [182]:
# books 배열의 인덱스에 bool 배열 넣기
# true 에 해당하는 원소만 반환
# 조건에 맞는 원소를 꺼낼때 사용!!
books[students=='철수']

array([['수학의 정석', '7'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [183]:
print(students!='철수')
# 철수가 아닌 대출 이력 찾기
books[students!='철수']

[False  True  True False False]

array([['해리포터', '10'],
       ['파이썬 입문', '5']], dtype='<U21')

In [190]:
# '수학의 정석'을 찾아서 제목을 '자바의 정석'으로 바꾸기
books == '수학의 정석'
# bool 배열로 원소를 찾고 값 교체
books[books[:,1] == '수학의 정석'] = '자바의 정석'
books

array([['자바의 정석', '7'],
       ['7', '7'],
       ['7', '7'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [189]:
# 대출 이력 중에서 철수가 아닌 항목을 찾고
# 행 전체를 7로 바꾸기
students != '철수'
books[students != '철수'] = 7
books

array([['자바의 정석', '7'],
       ['7', '7'],
       ['7', '7'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

## 연습문제
불리언

In [197]:
arr = np.array([10,20,30,40,50,60,70])

# 배열에서 30보다 큰 값만 꺼내서 출력
print(arr>30)
print(arr[arr>30])
# 배열에서 짝수값만 꺼내서 출력
print(arr%2 == 0)
print(arr[arr%2 == 0])
# 배열에서 50보다 큰 값을 모두 999로 변경
arr[arr>50] = 999
arr

[False False False  True  True  True  True]
[40 50 60 70]
[ True  True  True  True  True  True  True]
[10 20 30 40 50 60 70]

array([ 10,  20,  30,  40,  50, 999, 999])

In [204]:
# 직원 이름 배열
employees = np.array(["짱구","철수","유리","맹구","훈이"])

# 직원별 월급(만원 단위)
salaries = np.array([250,320,280,400,150])

# 직원 이름과 월급은 대응

# '맹구'의 급여를 조회
employees=='맹구'
print(salaries[employees=='맹구'])

# 급여가 300만원 이상인 직원들의 이름 출력
salaries >= 300
print(employees[salaries>=300])

# 급여가 200만원 미만인 직원들의 급여를 모두 200으로 올리세요
salaries < 200
salaries[salaries <200] = 200
print(salaries)

[400]
['철수' '맹구']
[250 320 280 400 200]

3.2 배열의 모양 바꾸기

In [209]:
# 1~9 숫자가 담긴 1차원 배열 생성
# reshape : 배열의 형태를 바꾸는 함수
# 1차원 -> 2차원
# 3행 3열 크기의 배열로 변환
print(np.arange(1,10))
arr = np.arange(1,10).reshape(3,3)
arr

[1 2 3 4 5 6 7 8 9]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [217]:
# 1~16 숫자가 담긴 1차원 배열
# 1차원->2차원
print(np.arange(1,17))
a = np.arange(1,17).reshape(4,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [218]:
# 1~12 숫자가 담긴 1차원 배열
# 1차원->2차원
print(np.arange(1,13))
a = np.arange(1,13).reshape(3,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

## 연습문제
배열의 모양 바꾸기[reshape]

In [224]:
# 0부터 11까지 3행4열 배열로 바꾸기
a=np.arange(0,12).reshape(3,4)
print(a)

# 1부터 16까지 숫자를 생성한뒤 4행4열 배열
b = np.arange(1,17).reshape(4,4)
print(b)

# 1부터 20까지 숫자 생성한뒤 5행4열 배열
c = np.arange(1,21).reshape(5,4)
print(c)

# 10부터 25까지 숫자를 생성한뒤 4행4열 배열
d = np.arange(10,26).reshape(4,4)
print(d)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]]
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]
 [22 23 24 25]]

## 실습
랜덤값 만들기[표준 정규 분포]

In [229]:
# 랜덤값 만들기
# 표준 정규 분포: 표준 편차가 1인 그래프에서 랜덤값을 생성(-3~3)
# 랜덤값 10개 생성
arr = np.random.standard_normal(size=10)
arr

array([-1.02161338, -0.03166599,  0.39849369,  2.03171518,  0.24745696,
        0.42267953,  0.3455364 , -0.08399257, -0.41087644,  0.12579013])

In [230]:
# 균일 분포: 범위 0~1. 모든 값이 같은 확률
arr = np.random.uniform(size=10)
arr

array([0.32814792, 0.58251454, 0.04949287, 0.88480611, 0.37103784,
       0.67311638, 0.65460261, 0.03349292, 0.26886639, 0.09485759])

In [232]:
# 표준정규분포에서 랜덤값 5개 생성
arr1 = np.random.standard_normal(size=5)
print(arr1)
# 균일분포에서 랜덤값 5개 생성
arr2 = np.random.uniform(size=5)
print(arr2)

[-0.2059575   1.37397665  0.5303557  -1.21521294  1.43573298]
[0.53273599 0.63619319 0.86760428 0.11638537 0.35253757]

3.4 유니버설 함수
반복문 없이 배열 전체에 계산을 해주는 함수

In [233]:
# 0~9 숫자가 담긴 1차원 배열 생성
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [237]:
# 파이썬의 리스트는 for문을 사용해서 계산해야함
# 넘파이의 배열은 for문 없이 계산 가능
# 배열 전체에 3 더하기
# add : 더하기
np.add(arr,3)

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [241]:
a = np.array([1,7,2,4,10])
b = np.array([3,4,5,6,7])

# 두 배열을 비교하여 더 큰값 저장하기
np.maximum(a,b)

array([ 3,  7,  5,  6, 10])

조건문

In [242]:
# 배열 두개 만들기
a = np.array([1,2,3])
b = np.array([10,20,30])
# 불리언 배열 만들기(조건)
cond = np.array([True, True, False])

In [245]:
# where(조건, 참일때값, 거짓일때값) 조건문 쓰기
# 조건이 참이면 a에서 값을 선택, 거짓이면 b에서 값을 선택
# where는 삼항연산자와 비슷
result = np.where(cond, a, b)
result

array([ 1,  2, 30])

In [248]:
# 1차원 배열 생성
arr = np.array([-2, -1, 0, 1, 2])

# 양수면 'o' 음수면 'x'로 반환
# 조건, 참일때 값, 거짓일때값
# np.where()

# 조건 배열 만들기
print(arr > 0)

np.where(arr>0, 'o', 'x')

[False False False  True  True]

array(['x', 'x', 'x', 'o', 'o'], dtype='<U1')

In [255]:
# 배열 [5,12,7,20,3]에서 10보다 크면 '100', 10이하면 '0'으로 바꾸세요.
arr = np.array([5,12,7,20,3])
print(np.where(arr>10, '100', '0'))

# 배열 [15,8,22,6,13]에서 짝수면 1, 홀수면 -1로 바꾸세요.
arr =np.array([15,8,22,6,13])
print(np.where(arr%2==0, 1, -1))

# 배열 [10,20,30,40,50]과 [1,2,3,4,5]을 만들고
# 조건배열 [True, False,True,False,True]를 사용해
# 조건이 True일때는 첫 번째 배열 값, False일 때는 두번째 배열 값을 선택
arr1 = np.array([10,20,30,40,50])
arr2 = np.array([1,2,3,4,5])
cond = np.array([True, False,True,False,True])
print(np.where(cond, arr1, arr2))

['0' '100' '0' '100' '0']
[-1  1  1  1 -1]
[10  2 30  4 50]

통계를 구할 때 자주 사용하는 함수들  
(최대 최소 합계 평균)

In [258]:
# 파이썬의 리스트 생성
lis = [1,2,3,4,5]
# 리스트의 총합을 구하세요!
sum = 0
for i in lis :
    sum = sum + i
print(sum)
# 리스트의 평균을 구하세요!
print(sum/len(lis))

15
3.0

In [263]:
# 이번에는 넘파이 배열로 합계와 평균 구하기 sum,mean,max,min
arr = np.array([1,2,3,4,5])
print(np.sum(arr))
print(np.mean(arr))
# 배열에서 제일 큰 값
print(np.max(arr))
# 배열에서 제일 작은 값
print(np.min(arr))

15
3.0
5
1

행/열 단위로 합계 구하기

In [271]:
arr = np.arange(1,10).reshape(3,3)
print(arr)

# 배열의 합계 구하기
print(arr.sum())
# 2차원 배열에서 행 또는 열 방향으로 합 구하기
# axis=0 -> 세로 방향으로 합 계산
print(arr.sum(axis=0))
# axis=1 -> 가로 방향으로 합 계산
print(arr.sum(axis=1))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
45
[12 15 18]
[ 6 15 24]

In [272]:
# 누적값 구하기
arr = np.array([1,2,3,4,5])
arr.cumsum()

array([ 1,  3,  6, 10, 15])

In [279]:
# 2차원 배열 생성
arr = np.array([ [0,1,2],[3,4,5],[6,7,8] ])
print(arr)
# 2차원 배열의 누적값 구하기
# 기준 설정(세로방향. 위 ->아래)
print(arr.cumsum(axis=0))

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[ 0  1  2]
 [ 3  5  7]
 [ 9 12 15]]