### 문제1

In [1]:
import pandas as pd
import numpy as np

In [3]:
# 지역목록 시리즈
s = pd.Series(['서울','부산','서울','대구','부산','광주','서울'])
s

0    서울
1    부산
2    서울
3    대구
4    부산
5    광주
6    서울
dtype: object

In [4]:
s.unique()

array(['서울', '부산', '대구', '광주'], dtype=object)

In [5]:
s.value_counts()

서울    3
부산    2
대구    1
광주    1
Name: count, dtype: int64

### 문제2

In [6]:
# 이름 목록 시리즈
s = pd.Series(['민수','지연','철수','민수','영희','민수','지연'])
s

0    민수
1    지연
2    철수
3    민수
4    영희
5    민수
6    지연
dtype: object

In [12]:
result=s.value_counts()
type(result)

pandas.core.series.Series

In [13]:
# 판다스의 Series는 통계함수를 사용할 수 있다
# sum mean max min
result.max()

3