### 1번

학생 성적 데이터를 데이터프레임으로 만들어주세요  
첫 번째 열은 학생 이름:["철수","영희","민수"]  
두 번째 열은 수학 점수 : [85,90,78]

In [30]:
import pandas as pd
import numpy as np

In [15]:
grade = { "name":["철수","영희","민수"], "math":[85,90,78]}

df = pd.DataFrame(grade)
print(df)
# 행/열 이름 확인
print(df.index)
print(df.columns)

  name  math
0   철수    85
1   영희    90
2   민수    78
RangeIndex(start=0, stop=3, step=1)
Index(['name', 'math'], dtype='object')

요일별 매출 데이터를 데이터 프레임으로 만들어주세요  
첫 번째 열은 요일: ["월","화","수"]  
두 번째 열은 매출:[1000,1200,900]

In [11]:
total = { "day":["월","화","수"], "sales":[1000,1200,900]}

df = pd.DataFrame(total)
df

  day  sales
0   월   1000
1   화   1200
2   수    900

### 2번

과일 판매 데이터를 데이터프레임  
값은 [[30,50], [20,40]]  
행 이름은 ['사과','배']  
열 이름은 ['판매량', '재고']

In [45]:
# 과일 판매량 데이터 만들기(dic 또는 list)
# dic방식

# data = {'판매량':[30,50], '재고':[20,40]}
# df = pd.DataFrame(data, index=['사과','배'])
# df

# list방식
data = np.array([[30,50], [20,40]])
df = pd.DataFrame(data, index=['사과','배'], columns=['판매량','재고'])
print(df)

# 1. 사과의 판매량 조회
df.loc['사과','판매량']

# 2. 새로운 열 '가격' 추가하고, 사과1000원, 배는1200원 입력
df['가격'] = [1000,1200]
print(df)

df.insert(1,'불량',[2,3])
df

    판매량  재고
사과   30  50
배    20  40
    판매량  재고    가격
사과   30  50  1000
배    20  40  1200

    판매량  불량  재고    가격
사과   30   2  50  1000
배    20   3  40  1200

### 3번
도시 데이터를 데이터프레임  
값은 [[950,1200], [500,800]]  
행 이름 : ['서울','부산']  
열 이름 : ['인구','면적']

In [28]:
data = {'인구':[950,1200], '면적':[500,800]}
df = pd.DataFrame(data, index=['서울','부산'])
print(df)

# 1.서울의 면적 조회(1200)
df.loc['서울','면적']
# 2. 새로운 열 '특산물' 추가하고, 서울 '김치',부산 '어묵'입력
df['특산물'] = ['김치','어묵']
df

      인구   면적
서울   950  500
부산  1200  800

      인구   면적 특산물
서울   950  500  김치
부산  1200  800  어묵

### 4번
도시 데이터 데이터프레임  
값 : [[15000, '홍길동전'], [20000,'해리포터']]  
행 : ['책1','책2']  
열 : ['가격', '제목']

In [39]:
data = np.array([[15000,'홍길동전'], [20000,'해리포터']])
df = pd.DataFrame(data, index=['책1','책2'], columns=['가격','제목'])
print(df)

# 1. 책2의 가격 조회
print(df.loc['책2','가격'])
# 2. 새로운 열 '저자'를 가격 뒤에 추가, 책 1은 '허균' 책2는 'J.K. 롤링' 입력
df.insert(1,'저자',['허균','J.K 롤링'])
print(df)

       가격    제목
책1  15000  홍길동전
책2  20000  해리포터
20000
       가격      저자    제목
책1  15000      허균  홍길동전
책2  20000  J.K 롤링  해리포터

### 5번  
영화 데이터 데이터프레임  
값은 [[9.0, 14000], [8.2, 9500]]  
행 이름은 ['기생충', '인터스텔라']  
열 이름은 ['평점','관객수']

In [51]:
data = np.array([[9.0, 14000], [8.2, 9500]])
df = pd.DataFrame(data, index=['기생충','인터스텔라'], columns=['평점','관객수'])
print(df)

# 1. 영화 기생충의 평점을 조회
print(df.loc['기생충','평점'])

# 2. '관객수' 열을 삭제
# drop (행또는열 이름, 방향)
# drop은 원본에는 영향이 없다.
# 결과를 원본에 덮어 씌우기
df = df.drop('관객수', axis=1)
df

# del
# del df['관객수']
# df

        평점      관객수
기생충    9.0  14000.0
인터스텔라  8.2   9500.0
9.0

        평점
기생충    9.0
인터스텔라  8.2

### 데이터 프레임의 계산과 조건검색

### 1번

In [56]:
data = np.array([[12000,9.0],[8000,8.5],[15000,9.3]])
df = pd.DataFrame(data, index=['기생충','인터스텔라','아바타'],
                  columns=['관객수','평점'])
print(df)
# 1. 모든 영화의 관객수에 1000명을 추가
df['관객수']+1000
# 2. 평점이 9.0이상인 영화만 조회
df['평점']>=9.0
df[df['평점']>=9.0]

           관객수   평점
기생충    12000.0  9.0
인터스텔라   8000.0  8.5
아바타    15000.0  9.3

         관객수   평점
기생충  12000.0  9.0
아바타  15000.0  9.3

### 2번

In [95]:
data = np.array([[25000,30000],[40000,15000]])
df = pd.DataFrame(data, index=['치마','바지'],columns=['1월 매출','2월 매출'])
print(df)

# 1. 새로운 열 '합계' 추가하여 1월과 2월 매출의 합
df['1월 매출'] + df['2월 매출']
# 시리즈 끼리 더하면, 인덱스를 기준으로 합계가 나옴
df['합계'] = df['1월 매출'] + df['2월 매출']
print(df)
# 2. '합계'를 만원단위로 바꾼 새로운 열 '합계(만원)'을 추가
df['합계(만원)'] = df['합계'] / 10000
df

    1월 매출  2월 매출
치마  25000  30000
바지  40000  15000
    1월 매출  2월 매출     합계
치마  25000  30000  55000
바지  40000  15000  55000

    1월 매출  2월 매출     합계  합계(만원)
치마  25000  30000  55000     5.5
바지  40000  15000  55000     5.5